init.sh
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/
test_db/
.vagrant
env/
assets/*
debug/*

*.sublime-project
*.sublime-workspace
.idea/workspace.xml
.idea/tasks.xml
weddingplanner.sqlite3
*/settings/local.py
media/*
